body{
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: #20262E;
    font-family: Roboto, sans-serif;
    flex-wrap: wrap;
    color: white;
}

.options{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    
}

.title{
    font-size: 72px;
    margin-bottom: 100px;
    text-align: center;
    font-weight: bolder;
}

.grid_container{
    display: inline-grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    min-width: 720px;
    min-height: 720px;
    border: 6px solid #E9E8E8;   
    background-color: white;
}

button{
    padding: 30px;
    margin: 10px;
    width: 50%;
    color: white;
    background-color: #20262E;
    border: 2px solid #CD5888;
    border-radius: 10px;
    font-size: larger;
    font-weight: bolder;
}

button:hover{
    transform: scale(1.1);
    transition: all 0.1s ease-in;
}

/* Making Color Picker Round */
.color_picker{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 100%;
    background-color: #20262E;
    border:none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border-radius: 100%;
    border:none;
}

.color_picker:hover, button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.1s ease-in;
}


.size{
    margin: 10px;
    font-weight: bolder;
    font-size: larger;
}

.slider{
    -webkit-appearance: none;
    border-radius: 10px;
    height: 16px;
    margin-top: 10px;
    background: #D3D3D3;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #CD5888;
    cursor: pointer;
}

.grid_square{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: crosshair;
}